
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 100%;
    border: none;
  }
  body{
    background-image: url("wall-wallpaper-concrete-colored-painted-textured-concept.jpg");
  }
  nav{
    background: #242526;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
  }
  nav .wrapper{
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .logo a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
  }
  .wrapper .nav-link{
    display: inline-flex;
  }
  .nav-link li{
    list-style: none;
  }
  .nav-link li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-link li a:hover{
    background: #3A3B3C;
  }
  .nav-link .daftar-wisata{
    background: #242526;
    width: 180px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .nav-link li:hover .daftar-wisata{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
  }
  .daftar-wisata li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .nav-link .akun{
    background: #242526;
    width: 100px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .nav-link li:hover .akun{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3 ease;
  }
  .akun li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  
    .container {
      position: fixed;
      width: 100%;
    }
    
    .mySlides {
      display: none;
    }

    .cursor {
      cursor: pointer;
    }

    .prev,
    .next {
      cursor: pointer;
      position: relative;
      top: 40%;
      width: 100%;
      max-width: 100%;
      padding: 16px;
      margin-top: -50px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      -webkit-user-select: none;
    }

    .next {
      margin-left: 50%;
      border-radius: 0 3px 3px 0;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0.5;
    }
    
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .column {
      float: left;
      width: 12.5%;
    }

    .demo {
      opacity: 0.9;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    .pesan{
      
      padding: 10px 30px;
      line-height: 30px;
      background-color:#f96d01;
      font-family: inherit;
      color: white;
      font-weight: bold;
      border: none;
      font-size: 25px;
      text-align: center;
      position: relative;
      box-sizing: inherit;
      letter-spacing: normal;
      word-spacing: normal;
      display: block;
      margin-right: 5%;
      margin-top: auto;
      margin-bottom: auto;
      float:right ;
      width: 37.15%;
      max-width: 100%;
    }
  
  
    .harga{
      padding: 10px 30px;
      line-height: 30px;
      background-color:#2787f5;
      font-family: inherit;
      color: white;
      font-weight: bold;
      border: none;
      font-size: 25px;
      text-align: center;
      position: relative;
      box-sizing: border-box;
      letter-spacing: normal;
      word-spacing: normal;
      display: block;
      margin-right:5%;
      margin-top: auto;
      margin-bottom: auto;
      float:right ;
      width: 37.15%;
      max-width: 100%;
    }
  
    .price{
      position: relative;
      width: 100%;
      margin-right: 100%;
      
    }
    .textbox{
      border: none;
      text-align: justify;
      width: 37.15%;
      margin-right:5%;
      float:right;
      overflow: auto;
      padding-top: 10%;
      padding-bottom: auto;
      display: inline-block;
      color: white;
    }
  
  
  
  